

/*======== jumbotron modifications =============*/
.jumbotron{
    background-color: #13293D;
    color: #ffffff;
    max-height:200px;
    padding-top: 20px;
    margin-bottom: 0px;
}


/*======== login =============*/
.login_panel{
  max-width: 50%;
  margin-top:50px;
  
}

.login_panel_heading{
  background-color: #3E92CC;
}

/*======== footer =============*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #13293D;
  color: #ffffff;
}